.first-row {
    background-color: #eeeef0;
    height: 170px;
  }
  .foo-foo {
    background-color: #1f1d1d;
    color: gainsboro;
    height: 250px;
    padding-top: 20px;
  }
  .btn {
    margin-top: 20px;
    background-color: #1f1d1d;
  }
  .btn:hover {
    color: white;
  }
  @media (max-width: 767px) {
    .footer {
      display: none;
    }
  
  }
  @media (max-width: 768px){
    .list_item{
      font-size: 0.7rem;
      margin-top:1rem;
      margin-bottom: 0.7rem;
    }
    .list_items{
      font-size: 0.7rem;
    }
  }
  @media (max-width: 767px) {
    .foot2 {
      display: block;
    }
  }
  @media (min-width: 767px) {
    .foot2 {
      display: none;
    }
  }
  .toper {
    background-color: #eeeef0;
    height: 196px;
    width: 100%;
    margin: 0px;
    padding: 0px;
    left: 0px;
    right: 0px;
  }
  .line {
    border-top: 1px solid white;
  }