body {
    font-family: "Nyala", Arial;
}

#key_word {
    color: #b91109;
}

.container {
    width: 100%;
    padding: 0px;
}

@media (max-width: 1140px)and (min-width: 1024px) {
    .container {
        max-width: 1140px;
    }
}

@media (max-width: 1024px) and (min-width: 768px) {
    .container {
        max-width: 1024px;
    }
}

@media (max-width: 768px) and (min-width: 540) {
    .container {
        max-width: 768px;
    }
}