body {
    font-family: "Nyala", Arial;
}

#key_word {
    color: #b91109;
}

/* .container {
    width: 100%;
    background-color:#41464d;
    padding: 0px;
} */


@media (max-width: 1140px)and (min-width: 1024px) {
    .container {
        background-color:#41464d;
        max-width:70%;
    }
}

@media (max-width: 1024px) and (min-width: 768px) {
    .container {
        background-color:#41464d;
        max-width:70%;
    }
}

@media (max-width: 768px) and (min-width: 540px) {
    .container {
        max-width:100%;
        background-color:white;
    }



    @media only screen and (max-width: 500px) {
        .container {
            min-width:100%;
            background-color:white;
        }
        
        
        }
}