body {
    font-family: "Nyala", Arial;
}

#key_word {
    color: #b91109;
}

.container {
    width: 70%;
    background-color:#41464d;
    padding: 0px;
}


@media (max-width: 1140px)and (min-width: 1024px) {
    .container {
        background-color:#41464d;
        max-width:70%;
    }
}

@media (max-width: 1024px) and (min-width: 768px) {
    .container {
        background-color:#41464d;
        max-width:70%;
    }
}

@media (max-width: 768px) and (min-width: 540) {
    .container {
        background-color:#41464d;
        max-width:100%;
    }
}