body {
    font-family: "Nyala", Arial;
}

#key_word {
    color: #b91109;
}
#cursor{
    cursor: pointer;
}

.container {
    width: 100%;
    background-color:white;
    padding: 0px;
}

@media (max-width: 1540px)and (min-width: 1140px) {
    .container {
        background-color:#41464d;
        max-width:70%;
    }
  
}

@media (max-width: 5000px)and (min-width: 1140px) {
    .container {
        background-color:#41464d;
        max-width:70%;
    }
  
}

@media (max-width: 1140px)and (min-width: 1024px) {
    .container {
        background-color:#41464d;
        max-width:70%;
    }
  
}

@media (max-width: 1024px) and (min-width: 768px) {
    .container {
        background-color:#41464d;
        max-width:65%;
    }
  
}

@media (max-width: 768px) and (min-width: 540px) {
    .container {
        max-width:100%;
        background-color:white;
    }


}


    @media only screen and (max-width: 500px) {
        .container {
            min-width:100%;
            background-color:white;
        }
        

        }



@media (max-width: 1099px) and (min-width: 1px) {
   
    .imageContainer {
        position: relative;
        
      }
      
      .bottom-left {
        position: relative;
       
        
      }
      .topText{
          color: black;
      }

      
}

@media (max-width: 5000px) and (min-width: 1100px) {
   
    .imageContainer {
        position: relative;
        
      }
      
      .bottom-left {
        position: absolute;
        bottom: 0px;
        left: 0px;
        background-image: linear-gradient(12deg, rgba(0,0,0,0.6) 15%,rgba(0,0,0,0.15) 52%,rgba(0,0,0,0) 70%);
        
      }
      .topText{
          color: white;
          font-weight: bold;
          
      }
     

      
    }
