.nav-item:hover {
  border-bottom: 3px solid #cccccf;
}
.nav-item {
  border-bottom: 3px solid white;
}
.horizontalLine {
  border-bottom: 1px solid #9999;
}

.activedNav {
  border-bottom: 3px solid #cccccf;
  font-weight: bolder;
}
