@media (max-width: 768px) and (min-width: 720px) {
    .list2 {
        font-size: 0.765rem;
    }
}

@media (min-width: 1024px) {
    .list2 {
        font-size: 0.965rem;
    }
}

@media (max-width: 576px) {
    .list {
        display: none;
    }
    a:after {
        content: "•";
        color: #99999c;
        display: inline-block;
        padding-left: 1ch;
    }
}

@media (max-width: 576px) {
    .search {
        display: none;
    }
}

.list li {
    display: inline;
}

.list2 li {
    display: inline;
}

.list li a:hover {
    text-decoration-line: none;
}

.list li a {
    color: #252525;
}

.nav-menu:after,
.nav-menu:before,
.nav-menu div {
    background-color: #0b4150;
    border-radius: 3px;
    content: "";
    display: block;
    height: 3px;
    margin: 6px 0;
    width: 30px;
    transition: all 0.2s ease-in-out;
}

.nav-menu.clicked:before {
    transform: translateY(9px) rotate(135deg);
}

.nav-menu.clicked:after {
    transform: translateY(-9px) rotate(-135deg);
}

.nav-menu.clicked div {
    transform: scale(0);
}

a:hover {
    background-color: #8ed8a6;
    background-color: rgba(0, 0, 0, 0.05);
    opacity: 0.4;
}

a:hover {
    text-decoration: none;
}

.text {
    transform: translateY(-50%);
    font-size: 1em;
    margin: 0;
    padding: 0 1.25rem;
    position: absolute;
    text-align: center;
    top: 50%;
    width: 100%;
}

a {
    text-decoration: none;
    background-color: transparent;
}