span {
    display: flex;
    flex-direction: row;
  }
  span:before,span:after{
    content: "";
    flex: 1 1;
    border-top: 0.5rem solid rgb(240, 238, 238);
    
  }
  span:before {
    margin-right: 10px
  }
  span:after {
    margin-left: 10px
  }
  .link a {
    color: black;
  }
  .link a:hover {
    color: brown;
  }
  .keyword {
    color: brown;
  }
  .topic {
    text-align: center;
  }
  @media (min-width: 1024px) {
    .header {
      text-align: center;
      font-size: 2.99rem;
    }
    .headline {
      font-size: 1.4rem;
    }
  }
  @media (max-width: 768px) {
    .headline {
      font-size: 1.2rem;
      font-weight: bolder;
    }
    .abstract {
      font-size: 0.8rem;
    }
    .byline {
      font-size: 0.8rem;
    }
  }
  @media (max-width: 540px) {
    .box {
      margin-left: 0.5rem;
      margin-right: 0.5rem;
    }
    .story {
      padding-left: 0.5rem;
      padding-right: 0.5rem;
    }
    .byline {
      font-size: 0.8rem;
    }
    .header {
      font-size: 1.8rem;
    }
    .top_key {
      font-size: 1.8rem;
    }
  }
  .box {
    border-left: 0.5rem solid rgb(240, 238, 238);
    border-right: 0.5rem solid rgb(240, 238, 238);
    border-bottom: 0.5rem solid rgb(240, 238, 238);
  }